.breadcrumbRM {
    display: flex;
    flex-wrap: wrap;
    padding: .3px 0px;
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: .25rem;
    margin: 0;
}
a.disabled {
    color: black !important;
    cursor: not-allowed;
    pointer-events: none;
    font-family: Arial;
}
.breadcrumbBg{
    background: #214285;
    padding: 0px;
    margin: 0px;
    margin-bottom: 18px;
}
.roundBdr {
    border-radius: 10px 10px 0px 0px;
    background: #fff;
    display: inline-flex;
    padding: 0px 10px;
}
.breadcrumb-item {
    display: inline-block !important;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 5px;
    font-family: Arial;
}