.titlebar {
  height: 18px;
  border-color: inherit;
  color: #ffffff;
  background-color: #214285;
  padding: 14px 6px;
  }
  .bx-header {
    background-color: #214285;
    color: white;
    padding: 0px 0px 0px 5px;
    line-height: 26px;
    font-family: Arial;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.k-grid.k-invoice {
  border-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  background-color: #ffffff;
  background-clip: padding-box;
}
